<!-- scrollable table with alert when the user reach the end of the table -->
<h1>Show Table</h1>

<button class="btn btn-primary" (click)="toggleTag()">Show/Hide</button><br><br>

<div appScrollDirective class="container">
  <table class="table">
    <tr>
      <th>Number</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let item of items; let i = index" [ngClass]="i > 4 ? 'colored' : ''"
      [ngStyle]="i > 4 ? currentStyles : ''">
      <td>{{i + 1}}</td>
      <td>{{item | date:'full'}}</td>
    </tr>
  </table>
  <div>